*{margin:0;padding:0;border:0;outline:0;vertical-align:top}
body,html{height:100%}
body{font-size:15px;font-weight:400;color:#2f353f;background-color:#FFF;margin-top:50px}
a{color:#2e6be6;text-decoration:none}
a:hover{color:#2f353f;text-decoration:underline}
ol,ul{list-style:none}
table{border-spacing:0;border-collapse:collapse}
blockquote{quotes:none}
img{border:none}
header,article,footer{display:block}
input,select,textarea{font-size:100%;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none}
textarea{font-size:15px/20px;resize:none}
button{font-size:100%}
button:hover{cursor:pointer}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
::selection{background:#2e6be6;color:#FFF;text-shadow:none}
::-moz-selection{background:#2e6be6;color:#FFF;text-shadow:none}
body,input,select,textarea,button{font-family:'Roboto',Arial,sans-serif}
.wrap{margin:0 auto;max-width:1180px}
header{position:fixed;top:0;left:0;width:100%;height:50px;background-color:#FFF;border-bottom:1px solid #CCD6E4;box-shadow:0 0 4px 0 rgba(142,154,173,0.35);z-index:100}
header .wrap{display:table;width:100%}
header .logo,header .search_bar,header .menu{display:table-cell}
header .logo{padding:14px 30px 14px 0}
header .logo a{display:block;background:url(../img/sprite.png) no-repeat 0 0;width:135px;height:17px;text-indent:-9999px}
header .search_bar{position:relative;width:100%}
header .search{overflow:hidden;padding:10px 0}
header .search form,header .search form>div:first-child,header .search form>div:first-child input{width:100%}
header .search_input{border:1px solid #CCD6E4;color:#8E9AAD;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#F2F5F9 url(../img/sprite.png) no-repeat 0 -17px;height:30px;padding:0 8px 0 28px;cursor:text;-webkit-transition:.1s;-moz-transition:.1s;-o-transition:.1s;transition:.1s;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;box-shadow:inset 0 1px 1px rgba(200,200,200,0.3)}
header .search_input::-webkit-input-placeholder{color:#8E9AAD}
header .search_input::-moz-placeholder{color:#8E9AAD}
header .search_input::placeholder{color:#8E9AAD}
header .search_input:focus{border:1px solid #8E9AAD;color:#2f353f;background-color:#FFF;outline:0}
header .search_mobile{display:none}
header .search_results .sr{position:absolute;z-index:999;top:100%;left:0;width:100%;margin:10px -1px 0;border:1px solid #FFF;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#FFF}
header .search_results .sr_bar:before{position:absolute;top:0;left:calc(50% - 7px);content:'';display:block;width:0;height:0;border-color:#FFF;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:6px solid #FFF;margin-top:-7px}
header .search_results .sr_bar_results li a{padding:8px 12px;border-top:1px solid #E5EAF1;display:block}
header .search_results .sr_bar_results li a:hover{background:#F2F5F9}
header .search_results .sr_bar_results li:first-child a{color:#000;border-top:none}
.search_overlay{background:rgba(0,0,0,0.75);position:fixed;top:0;left:0;width:100%;height:100%;z-index:99}
header .menu{padding:10px 0 10px 10px}
header .menu_button{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:6px 8px 1px;border:1px solid #CCD6E4;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
header .menu_button:hover{border-color:#8E9AAD;cursor:pointer}
header .menu_button.default{border-color:#8E9AAD}
header .menu_button span{display:block;width:22px;height:2px;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;margin-bottom:5px;background-color:#2f353f}
.intro{height:450px;background-color:#2e6be6;margin-bottom:120px;position:relative}
.intro .ititle{width:46%}
.intro .ititle h1{font-size:38px;font-weight:500;padding:120px 0 15px;color:#FFF;vertical-align:baseline}
.intro .ititle p{font-size:20px;font-weight:400;color:#FFF;padding-bottom:50px}
.intro .ititle a{display:inline-block;padding:15px 25px;font-size:17px;color:#FFF;border:1px solid #FFF;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;text-transform:uppercase;-webkit-transition:all .15s ease-in;-o-transition:all .15s ease-in;transition:all .15s ease-in}
.intro .ititle a:hover{color:#000;background-color:#fff;border-color:#fff}
.intro .idevice{background:url(../img/idevice.png) no-repeat 0 0;height:464px;width:50%;position:absolute;right:0;bottom:-55px}
.intro .idevice img{display:none}
.isubtitle{text-align:center}
.isubtitle h2{font-size:28px;font-weight:500}
.isubtitle p{margin-top:10px}
.ikeys{margin:60px 0px 65px;overflow:hidden}
.ikeys>div+div{border-left:1px solid #E5EAF1}
.ikeys .ikey{float:left;width:20%;padding:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.ikeys .ikey:first-child{padding-left:0}
.ikeys .ikey:last-child{padding-right:0}
.ikeys h3{font-size:20px;font-weight:500}
.ikeys p{margin-top:20px}
.itags{background-color:#F2F5F9;padding:60px 0}
.itags .isubtitle{margin-bottom:60px}
.itags ul{text-align:center}
.itags li{display:inline-block;padding-left:5px;padding-right:5px;margin-bottom:30px}
.itags li img{display:block;max-width:100%;height:auto}
.itags_btn{text-align:center;margin-top:30px}
.itags_btn a{display:inline-block;padding:15px 25px;font-size:17px;color:#000;border:1px solid #000;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;text-transform:uppercase;-webkit-transition:all .15s ease-in;-o-transition:all .15s ease-in;transition:all .15s ease-in}
.itags_btn a:hover{color:#FFF;background-color:#000;border-color:#000}
.italk{padding:60px 0;overflow:hidden}
.italk h2{font-size:28px;font-weight:500;margin-bottom:20px}
.italk .italk_q{font-size:17px;font-weight:700;border-left:2px solid #2e6be6;padding-left:20px}
.italk .italk_a{font-size:17px;font-weight:400;margin:10px 0 30px 60px;padding-left:20px;border-left:2px solid #E8E9F0}
.italk .italk_a .code_white{display:inline-block;padding:10px;background-color:#F2F5F9;font-family:monospace;font-size:15px;margin:10px 0}
.iquestions{background-color:#F2F5F9;padding:60px 0}
.iquestions h2{font-size:28px;font-weight:500;margin-bottom:30px}
.iquestions .list_item{overflow:hidden;font-size:13px;margin-bottom:20px;padding-bottom:5px;border-bottom:1px solid #E5EAF1}
.iquestions .list_item_count{float:left;border-right:1px solid #E5EAF1;width:80px;text-align:center}
.iquestions .list_item_count span{font-size:19px;font-weight:500;display:block}
.iquestions .list_item_data{margin-left:100px}
.iquestions .lid_title{font-size:17px;font-weight:500;margin-bottom:5px}
.iquestions .lid_description{margin-bottom:10px}
.iquestions .lid_tags{float:left;margin-bottom:5px}
.iquestions .lid_tag{display:inline-block;margin:0 4px 8px 0}
.iquestions .lid_tag a{display:inline-block;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;padding:1px 16px 3px;background:#E5EAF1;color:#8E9AAD}
.iquestions .lid_tag a:hover{background-color:#FF8D29;color:#FFF}
.iquestions .lid_tag span{display:inline-block;padding:1px 0 3px;color:#8E9AAD}
.page{font-size:17px;font-weight:400;padding:30px 0 25px}
.page h1{font-size:30px;font-weight:400;margin-bottom:30px}
.page h1 span{padding:1px 5px;background-color:#FFEFBF}
.page article p,.page article ul,.page article ol,.page article table{margin-bottom:10px}
.page article h2{font-size:25px;font-weight:700;margin:30px 0 10px}
.page article h3{font-size:19px;font-weight:700;margin:20px 0 10px}
.page article ul{margin-left:20px}
.page article ul li{margin-bottom:5px;padding-left:15px;position:relative}
.page article ul li:after{position:absolute;content:'';left:0;top:8px;width:6px;height:6px;background-color:#2e6be6;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.page article ol{counter-reset:myCounter;margin-left:20px}
.page article ol li{list-style:none;vertical-align:middle}
.page article ol li strong,.page article ol li a{vertical-align:baseline}
.page article ol li:before{counter-increment:myCounter;content:counter(myCounter);color:#fff;background-color:#2e6be6;display:inline-block;text-align:center;margin:5px 10px 5px 0;line-height:25px;width:25px;height:25px}
.page article p.note{border:2px solid #E5EAF1;padding:15px 20px}
.page article p.note strong,.page article li strong{vertical-align:baseline}
.page article .code_white,.page article .code_black{display:inline-block;padding:10px;font-family:monospace;font-size:15px}
.page article .code_white{background-color:#F2F5F9}
.page article .code_black{background-color:#2D2D2D;color:#FFF}
.page article td{border:1px solid #8E9AAD;padding:5px}
.page article img{max-width:100%;height:auto}
.page .tags_list ul{margin:0 0 0 1px;padding:0 0 1px}
.page .tags_list ul:after{content:'';display:block;clear:both}
.page .tags_list ul li{position:relative;float:left;width:calc(20% + 1px);margin:0 0 -1px -1px;padding:0;border:1px solid #E5EAF1;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:1;-webkit-transition:box-shadow .1s ease;-moz-transition:box-shadow .1s ease;-o-transition:box-shadow .1s ease;transition:box-shadow .1s ease}
.page .tags_list ul li > a{position:relative;display:block;padding:15px;height:100px;color:#434A54;font-weight:700;font-size:17px;line-height:17px;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.page .tags_list ul li:hover{border-color:#2e6be6;box-shadow:0 0 10px #2e6be6;z-index:2}
.page .tabs{margin-bottom:20px}
.page .tabs:after{content:"";display:block;clear:both;height:2px;background-color:#2e6be6}
.page .tabs li{padding:8px 0;cursor:pointer;display:block;float:left;background-color:#F2F5F9;text-align:center;font-weight:700;width:100%}
.page .tabs li.active,.page .tabs li.active:hover{background-color:#2e6be6;color:#FFF}
.page .tabs li:hover{background-color:#E5EAF1}
.page .tabs+article{margin-bottom:20px;padding-bottom:10px;border-bottom:2px solid #2e6be6}
.page .list_item{overflow:hidden;font-size:13px;margin-bottom:20px;padding-bottom:15px;border-bottom:1px solid #E5EAF1}
.page .list_item_count{float:left;border-right:1px solid #E5EAF1;width:80px;text-align:center}
.page .list_item_count span{font-size:19px;font-weight:500;display:block}
.page .list_item_data{margin-left:100px}
.page .lid_title{font-size:17px;font-weight:500;margin-bottom:5px}
.page .lid_description{margin-bottom:10px}
.page .lid_tags{float:left;margin-bottom:5px}
.page .lid_tag{display:inline-block;margin:0 4px 8px 0}
.page .lid_tag a{display:inline-block;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;padding:1px 16px 3px;background:#F2F5F9;color:#8E9AAD}
.page .lid_tag a:hover{background-color:#FF8D29;color:#FFF}
.page .lid_tag span{display:inline-block;padding:1px 0 3px;color:#8E9AAD}
.page .lid_date{float:right;text-align:right;color:#8E9AAD;margin-bottom:5px;padding-top:1px}
.page .list_pagination{display:block;text-align:center;margin-top:20px}
.page .list_pagination li{display:inline-block;margin-right:10px;font-size:23px;font-weight:400}
.page .list_pagination li a{display:block;padding:0 10px;color:#8E9AAD;text-align:center;text-decoration:none;border-bottom:2px solid #E5EAF1}
.page .list_pagination li a:hover{color:#2f353f;border-bottom:2px solid #2f353f}
.page .list_pagination li.active{padding:0 10px;color:#2e6be6;border-bottom:2px solid #2e6be6}
.page .list_pagination li.also{color:#8E9AAD}
.page .manuals li{margin-bottom:20px}
.page .manuals h3{font-size:19px;font-weight:700;margin:40px 0 20px}
.page .feedback .fb_item{margin-bottom:10px}
.page .feedback .fb_item span{display:block;margin-bottom:5px}
.page .feedback .fb_item input,.page .feedback .fb_item textarea{border:1px solid #8E9AAD;padding:5px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.page .feedback .fb_item textarea{width:50%;height:200px}
.page .feedback .fb_item input[type="submit"]{background-color:#8E9AAD;color:#FFF;cursor:pointer}
.shell_layout{float:left;width:100%;margin-right:-320px}
.layout{margin-right:320px}
.layout_side{width:300px;float:right;padding-top:25px}
.content_left{width:80px;float:left;text-align:center}
.content{margin:0 0 0 100px}
.qa .question{padding:30px 0 25px;background-color:#F2F5F9}
.qa .question:after{content:'';display:block;clear:both;height:0;font-size:0}
.qa h1{font-size:38px;font-weight:700;margin-bottom:20px}
.qa .question .layout{background-color:#FFF;overflow:hidden;padding:0 0 20px;-webkit-border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px;border:1px solid #E5EAF1}
.qa .question .content,.qa .answer .content{padding-right:20px;padding-top:20px}
.qa .question .layout_side{padding-top:10px}
.qa .share{margin-bottom:20px}
.qa .tags{margin-top:15px;margin-bottom:20px}
.qa .share_title,.qa .tags_title{font-weight:700;margin-bottom:5px;margin-top:-1px}
.qa .tags_tag{display:block;font-size:15px;}
.qa .tags_tag a{display:inline-block;margin:0 4px 8px 0;padding:1px 16px 3px;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;background:#2f353f;color:#FFF}
.qa .tags_tag a:hover{background-color:#FF8D29;color:#FFF}
.qa .tags_tag span{display:inline-block;margin:0 4px 8px 0;padding:1px 16px 3px;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;border:1px solid #8E9AAD;color:#8E9AAD}
.qa .loaf{margin-bottom:20px}
.qa h2.answers_count{font-size:19px;font-weight:500;margin:15px 10px;overflow:hidden}
.qa .answer{margin-bottom:20px;overflow:hidden;padding:0 0 20px;-webkit-border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px;border:1px solid #E5EAF1;border-top:2px solid #8E9AAD}
.qa .answer.best{background-color:#FAFFF7}
.qa .info{overflow:hidden;font-size:13px;color:#8E9AAD}
.qa .info_right{float:right}
.qa .info_right a{color:#8E9AAD}
.qa .info_right a:hover{color:#2f353f}
.qa .info_inlink{display:inline-block;margin-right:15px}
.qa .info_inlink:hover{cursor:pointer;border-bottom:0 solid #8E9AAD;text-decoration:underline;color:#2f353f}
.qa .info_outlink{display:inline-block;margin-right:15px;color:#8E9AAD}
.qa .info_outlink:hover{color:#2f353f}
.qa .info_inlink_url{clear:both;display:none;overflow:hidden;position:relative}
.qa .info_inlink_url .hr{height:10px}
.qa .info_inlink_url input{width:100%;border:1px solid #2e6be6;color:#2e6be6;padding:5px 27px 5px 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:10px}
.qa .info_inlink_url button{position:absolute;right:0;top:10px;bottom:0;background:url(../img/sprite.png) no-repeat -39px -47px;height:18px;width:18px;margin:6px}
.qa .info_inlink_url{opacity:1;height:auto;max-height:500px;overflow:hidden;-webkit-transition:all .5s cubic-bezier(0.39,0.575,0.565,1);-moz-transition:all .5s cubic-bezier(0.39,0.575,0.565,1);transition:all .5s cubic-bezier(0.39,0.575,0.565,1)}
.qa .collapsed .info_inlink_url{opacity:0;max-height:0}
.qa .comments{overflow:hidden;margin-top:20px;font-size:13px}
.qa .comments ul{border-top:1px dashed #E5EAF1}
.qa .comments ul li{padding:5px;border-bottom:1px dashed #E5EAF1}
.qa .comment_likes{float:left;color:#1CBF60}
.qa .comment{margin-left:30px}
.qa .comment b,.qa .comment code{vertical-align:baseline}
.qa .comment code{white-space:pre-wrap;padding:1px 5px;font-size:13px;background-color:#F2F5F9;font-family:monospace}
.qa .comment_author,.qa .comment time{color:#8E9AAD}
.qa .comments_more{margin-top:5px}
.qa .comments_more span{color:#2e6be6;cursor:pointer;display:inline-block}
.qa .comments_more span:hover{color:#2f353f}
.qa .comments_more span strong{vertical-align:baseline}
.qa .vote{background-color:#FFF;padding:8px 0;margin:10px 0 0 10px;border-bottom-right-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:1px solid #E5EAF1}
.qa .vote.plus{border:1px solid #1CBF60}
.qa .vote.minus{border:1px solid #FF4C5B}
.qa .vote span{margin-bottom:5px;display:block;color:#8E9AAD;font-size:19px;font-weight:500}
.qa .vote.plus span{color:#1CBF60}
.qa .vote.minus span{color:#FF4C5B}
.qa .vote i{display:block;width:21px;height:20px;margin:0 auto;background-image:url(../img/sprite.png);background-repeat:no-repeat;background-position:-42px -69px;text-indent:-9999em;font-size:1px}
.qa .vote.plus i{background-position:0 -69px}
.qa .vote.minus i{background-position:-21px -69px}
.qa .best_answer{margin:10px 0 10px 10px;padding:2px;background-color:#1CBF60;color:#FFF;font-size:13px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.qa .text{line-height:1.3em;font-size:17px;margin-bottom:20px;word-wrap:break-word}
.qa .text h1{font-size:23px;font-weight:700;margin-bottom:15px}
.qa .text h2{font-size:21px;font-weight:700;margin-bottom:15px}
.qa .text h3{font-size:19px;font-weight:700;margin-bottom:15px}
.qa .text p{margin-bottom:15px}
.qa .text ul,.qa .text ol{margin-bottom:15px}
.qa .text ul li,.qa .text ol li{padding-left:34px;position:relative;z-index:1}
.qa .text ul li::after{position:absolute;content:'';left:14px;top:8px;width:6px;height:6px;background-color:#3791D7}
.qa .text ul li::before{display:none}
.qa .text ul li ul,.qa .text ul li ol,.qa .text ol li ul,.qa .text ol li ol{margin-bottom:0}
.qa .text ol{counter-reset:li}
.qa .text ol li::before{content:counter(li);counter-increment:li;position:absolute;left:14px;top:1px;text-align:left;width:20px;height:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:15px;font-weight:700;color:#3791D7}
.qa .text ol li ul{margin-top:0}
.qa .text .pic{margin:20px -40px;overflow:hidden}
.qa .text .pic img{width:100%;height:auto}
.qa .text pre{word-wrap:normal;margin-bottom:1em;padding:5px 5px 5px 10px;width:auto;max-height:600px;overflow:auto;font-size:14px;background-color:#F2F5F9;border:1px solid #E5EAF1;font-family:monospace}
.qa .text p code,.qa .text li code{white-space:pre-wrap;padding:1px 5px;font-size:14px;background-color:#F2F5F9;font-family:monospace;vertical-align:baseline}
.qa .text img{margin:15px 0;max-width:100%;height:auto}
.qa .text .str,.qa .text .lit,.qa .text .tag{color:#7D2727}
.qa .text .kwd,.qa .text .dec{color:#101094}
.qa .text .com{color:#858C93}
.qa .text .typ{color:#2B91AF}
.qa .text .pun,.qa .text .pln{color:#303336}
.qa .text .atn{color:#E64320}
.qa .text .atv{color:#0F74BD}
.qa .text .prettyprint{display:block;color:#393318}
.qa .text blockquote{margin-bottom:10px;padding:10px 10px 0;background-color:#FFEFBF;border:1px solid #ffeb8e}
.qa .other{margin-bottom:30px}
.qa .other h3{font-size:19px;font-weight:500;margin-bottom:20px}
.qa .other li{margin-bottom:10px;overflow:hidden}
.qa .other li span{float:left;padding:5px;margin-right:10px;width:40px;text-align:center;font-size:13px;color:#FFF;background-color:#8E9AAD;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.qa .other li a{margin-left:60px;display:block;padding-top:4px}
.scroll{position:fixed;top:0;bottom:0;z-index:1;display:none;opacity:.5}
.scroll:hover{cursor:pointer;background:rgba(138,166,204,.1);opacity:1}
.scroll span{position:absolute;top:80px;left:50%;margin:0 0 0 -10px;width:18px;height:10px;background:url(../img/sprite.png) no-repeat -57px -47px}
.scroll.up span{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.scroll div{position:absolute;top:95px;left:50%;margin:0 0 0 -25px;text-transform:uppercase;font-size:13px;font-weight:700}
.scroll.up div{display:none}
footer{clear:both;width:100%;overflow:auto;background-color:#F2F5F9;border-top:1px solid #CCD6E4;color:#8E9AAD;font-size:13px;position:relative;z-index:3}
footer .footer_site{float:left;padding:15px 10px 15px 0}
footer .footer_counters{float:right;padding:7px 0}
footer span{display:inline-block;padding-right:5px}
footer a{color:#8E9AAD}
footer a:hover{color:#2f353f}
.right{width:0;position:fixed;top:0;right:0;bottom:0;background-color:#FFF;z-index:999;overflow:hidden;-webkit-transition:.2s width ease-out;-moz-transition:.2s width ease-out;-o-transition:.2s width ease-out;transition:.2s width ease-out}
.right .right_top{width:300px;height:50px;background-color:#F2F5F9;border-bottom:1px solid #CCD6E4;box-shadow:0 0 4px 0 rgba(0,0,0,.10)}
.right .right_title{float:left;margin:14px 0 0 20px}
.right .right_close{float:right;margin:15px 20px 0 0;cursor:pointer;background:url(../img/sprite.png) no-repeat -21px -47px;width:18px;height:18px}
.right .right_content{width:300px}
.right .right_content li a{display:block;padding:15px 20px;border-bottom:1px solid #E5EAF1}
.right.in{width:300px;border-left:1px solid #CCD6E4;box-shadow:0 2px 4px rgba(142,154,173,0.5)}
.right_mask{position:fixed;top:0;right:0;bottom:0;left:0;z-index:998;background-color:rgba(255,255,255,1);-webkit-transition:.2s opacity;-moz-transition:.2s opacity;-o-transition:.2s opacity;transition:.2s opacity;opacity:0;display:none}
.right_mask.in{display:block;opacity:.5}
.myhl_top{margin-bottom:20px}
.myhl_inside{margin:25px 0 20px 0}
@media screen and (max-width:1439px) {
.scroll{display:none!important}
}
@media screen and (max-width:1179px) {
header .logo,footer .footer_site{padding-left:10px}
header .menu,footer .footer_counters{padding-right:10px}
.intro .ititle{width:55%}
.intro .ititle h1,.intro .ititle p,.intro .ititle a,.italk,.qa h1,.qa .other{margin-left:10px;margin-right:10px}
.ikeys .ikey{padding:10px!important}
.page{padding:30px 10px 25px}
.page .tags_list ul li{width:calc(25% + 1px)}
}
@media screen and (max-width:1023px) {
.intro{text-align:center;height:650px;margin-bottom:150px}
.intro .ititle{width:100%}
.intro .ititle h1{padding-top:40px}
.intro .idevice{background:none;height:auto;width:100%;position:relative;bottom:-15px}
.intro .idevice img{display:block;max-width:100%;height:auto;margin-right:auto;margin-left:auto}
.ikeys{text-align:center;margin-bottom:60px}
.ikeys>div+div{border-left:none;border-top:1px solid #E5EAF1}
.ikeys .ikey{float:none;width:100%;margin-bottom:5px}
.page{padding:20px 10px}
.shell_layout{float:none;margin-right:0}
.layout{margin-right:0}
.layout_side{width:100%;float:none;padding-top:1px}
.content{margin:0}
.content_left{width:auto;margin:0;float:none;text-align:left}
.page .tags_list ul li{width:calc(100%/3 + 1px)}
.qa .question{padding:20px 0 1px}
.qa .question .layout,.qa .answer{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border-left:none;border-right:none}
.qa .question .layout_side{padding-top:20px}
.qa .share{margin-left:10px;margin-right:10px}
.qa .tags{margin-bottom:12px;margin-left:10px;margin-right:10px}
.qa .tags span{display:inline-block;margin:0 4px 8px 0}
.qa .loaf{display:none}
.qa .question .content,.qa .answer .content{padding:10px}
.qa .vote{padding:5px 8px;display:inline-block}
.qa .vote span{margin-bottom:0;display:inline-block;font-size:19px;font-weight:500}
.qa .vote i{display:inline-block;margin:0 0 0 8px}
.qa .best_answer{display:inline-block;margin:10px 0 0 10px;padding:8px 9px 9px}
.qa .tags_tag{display:inline-block}
/*.myhl_top{display:none}*/
}
@media screen and (max-width:767px) {
header{height:50px}
header .logo{margin-top:15px}
header .net{padding:16px 15px 13px}
header .search{display:none}
header .search_mobile{display:table-cell;width:42px;height:50px}
header .search_mobile:hover{cursor:pointer}
header .search_mobile span{display:block;margin:14px 10px;width:21px;height:22px;background:url(../img/sprite.png) no-repeat 0 -47px}
header .opens .logo{display:none}
header .opens .search{display:block;padding-left:10px}
header .opens .search_mobile span{margin:16px 11px 16px 12px;background:url(../img/sprite.png) no-repeat -21px -47px;width:18px;height:18px}
.intro{height:600px}
.italk .italk_a{margin-left:0}
.page .tags_list ul li{width:calc(50% + 1px)}
.page .feedback .fb_item textarea{width:100%}
.qa .info_right{float:none;margin-bottom:10px}
footer .wrap{text-align:center}
footer .footer_site{float:none;padding:15px 10px 0 0}
footer .footer_counters{float:none;padding:10px 0}
}
@media screen and (max-width:479px) {
.page .tags_list ul li{float:none;width:auto;margin-left:0}
.page .tags_list ul li > a{height:auto}
.page .list_item_count{float:none;border-right:0;width:auto;text-align:left;margin-bottom:5px;color:#8E9AAD}
.page .list_item_count span{font-size:13px;font-weight:400;display:inline}
.page .list_item_data{margin-left:0}
.page .lid_tags{float:none}
.page .lid_tag a{border:1px solid #8E9AAD}
.page .lid_tag span{padding:2px 0 4px}
.page .lid_date{float:none;text-align:left;padding-top:0}
.qa h1{font-size:30px}
}
.sub_li{padding: 15px 20px;border-bottom: 1px solid #E5EAF1;text-decoration: underline;}
.sub_ul li a{padding: 7px 40px !important;}
.comm_block{overflow: hidden;}
.autor_com{text-align: right;}
.over_bottom_right{margin-top: 15px;}
.gsc-results-wrapper-overlay{padding:0!important;width:100%!important}
.gsc-adBlock{display:none!important}
.gsc-modal-background-image-visible{display:none!important}
.gsc-control-cse .gsc-results-wrapper-overlay{z-index:10!important;position:relative!important;-webkit-box-shadow:none!important;box-shadow:none!important;overflow:hidden!important;top:0!important;left:0!important}
.gsc-results-close-btn{display:none!important}
.gsc-overflow-hidden{overflow:auto!important}
.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.clo,.opn,.pun{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.kwd,.tag,.typ{font-weight:700}.str{color:#060}.kwd{color:#006}.com{color:#600;font-style:italic}.typ{color:#404}.lit{color:#044}.clo,.opn,.pun{color:#440}.tag{color:#006}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}